@import "./../abstracts/index";

.banner-image {
  width: 100%;
  border-radius: $radius-md;
  margin: $gap-lg 0;
  box-shadow: $shadow-soft;
  @include gradient-primary(14deg);

  img.banner-image__picture {
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: $banner-image-height;
    object-fit: contain;
    margin: auto;
    background-color: transparent;
  }
}
